// @import '../../node_modules/bootstrap/scss/bootstrap.scss';
// import bootstrap 
@import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
@import "./_bootstrap_variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/input-group";
@import "../../node_modules/bootstrap/scss/custom-forms";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/jumbotron";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/media";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/print";


// now-ui-kit
// @import '../../node_modules/now-ui-kit/assets/scss/now-ui-kit/variables';
@import "./_now_ui_kit_variables";
@import '../../node_modules/now-ui-kit/assets/scss/now-ui-kit/mixins';
//   Plugins CSS
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/plugins/plugin-bootstrap-switch";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/plugins/plugin-nouislider";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/plugins/plugin-datepicker";
//   Core CSS
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/buttons";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/inputs";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/checkboxes-radio";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/progress";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/badges";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/pagination";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/typography";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/misc";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/pills";
//   components
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/tabs";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/navbar";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/dropdown";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/alerts";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/images";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/popups";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/modals";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/carousel";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/cards";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/cards/card-plain";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/cards/card-signup";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/footers";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/nucleo-outline";
//   example pages and sections
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/example-pages";
@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/sections";

@import "../../node_modules/now-ui-kit/assets/scss/now-ui-kit/responsive";

// custom components
@import './_sidebar.scss';

// custom styles
h2 {
  color: $primary-color;
}

h3 {
  border-bottom: 0.1rem solid #ccc; 
}

img {
  background-color: lighten($brand-primary, 15%);
  padding: 0.1rem;
}

p {
  font-size: $font-paragraph;
}

@include media-breakpoint-up(md) {
  p {
    &.img-wrap {
      margin: 3rem 5rem;
    }
  }
}

